.DS_Store
node_modules
dist
*~
.*.swp

custom/css/app.css
custom/css/app-docs.css
.tmp/

npm-debug.log
.module-cache
.idea

# ------------
# use template
# ------------
md/*.md
md/start/*.md
md/kb/*.md
views/test.md

.vscode/

yarn.lock
