.DS_Store
node_modules
dist
*~
.*.swp

custom/css/app.css
custom/css/app-docs.css
.tmp/

npm-debug.log

# use template
md/leanengine_guide-cloudcode.md
md/leanengine_guide-node.md
md/leanengine_guide-python.md
