--- layout: download.swig ---
<div ng-controller="DemoCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="doc-home-title">
        {% if node=='qcloud' %}
        <h1 class="font-logo">
          TAB Demos
        </h1>
        <h4>
          使用 TAB 搭建的各类应用演示
        </h4>
        {% else %}
        <h1 class="font-logo">
          LeanCloud Demos
        </h1>
        <h4>
          使用 LeanCloud 搭建的各类应用演示
        </h4>
        {% endif %}
      </div>
      <!-- .doc-home-title -->

      <div class="btn-group">
        <a class="btn btn-default " ng-click="setCurrentType('all')" ng-class="{'active':currentSDKType == 'all'}" href="#/all">
          所有平台
        </a>
        <a class="btn btn-default " ng-repeat="k in keys(plats) | filter: hasChildren"  ng-click="setCurrentType(k)" ng-class="{'active':currentSDKType == k}" href="#/{{k}}">
          {{plats[k]}}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" ng-repeat ="demo in displayDemos{% if node=='qcloud' %} | filter: {qcloudShow: true}{% endif %}">
      <div class="demo-card">
        <h1>
          {{demo.name}}
          <span class="pull-right label label-primary"">{{plats[demo.type]}}</span>
          
        </h1>
        <p class="demo-desc">{{demo.desc}}</p>
        <!-- <a href="{{demo.downlink}}" class="btn btn-default">下载</a>
        <a href="{{demo.mdPath}}" target="_blank" class="btn btn-default">README.md</a> -->
        <a href="{{demo.mdPath}}" target="_blank" class="btn btn-default">详细</a>
      </div>
      <!-- .demo-card -->
    </div>
  </div>
</div>
