--- layout: download.swig ---
<div ng-controller="DemoCtrl">
  <div class="row">
    <div class="col-md-12">

      <div class="doc-home-title">
        <h1 class="font-logo">
          LeanCloud Demos
        </h1>
        <h4>
          使用 LeanCloud 搭建的各类应用演示
          <br>
          GitHub 太慢或无法访问？<a href="https://download.leancloud.cn/demo/">直接在 LeanCloud 下载</a>
        </h4>
      </div>
      <!-- .doc-home-title -->

      <div class="btn-group">
        <a class="btn btn-default " ng-click="setCurrentType('all')" ng-class="{'active':currentSDKType == 'all'}" href="#/all">
          所有平台
        </a>
        <a class="btn btn-default " ng-repeat="k in keys(plats)"  ng-click="setCurrentType(k)" ng-class="{'active':currentSDKType == k}" href="#/{{k}}">
          {{plats[k]}}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" ng-repeat ="demo in displayDemos">
      <div class="demo-card">
        <h1>
          {{demo.name}}
          <span class="pull-right label label-primary" ng-show="demo.type=='ios'">iOS</span>
          <span class="pull-right label label-success" ng-show="demo.type=='android'">Android</span>
          <span class="pull-right label label-warning" ng-show="demo.type=='unity'">Unity</span>
          <span class="pull-right label label-danger" ng-show="demo.type=='winphone'">Windows Phone</span>
          <span class="pull-right label label-default" ng-show="demo.type=='js'">JavaScript</span>
          <span class="pull-right label label-info" ng-show="demo.type=='node'">Node.js</span>
        </h1>
        <p class="demo-desc">{{demo.desc}}</p>
        <!-- <a href="{{demo.downlink}}" class="btn btn-default">下载</a>
        <a href="{{demo.mdPath}}" target="_blank" class="btn btn-default">README.md</a> -->
        <a href="{{demo.mdPath}}" target="_blank" class="btn btn-default">详细</a>
      </div>
      <!-- .demo-card -->
    </div>
  </div>
</div>
