--- layout: download.swig ---
<div class="doc-home-title">
  <h1 class="faq-title">常见问题</h1>
</div>

<div class="row">
  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>账户和平台</h2>
      <ul>
        <li><a href="faq.html#LeanCloud_部署在哪个云平台上">LeanCloud 部署在哪个云平台上</a></li>
        <li><a href="faq.html#获取客服支持有哪些途径">获取客服支持有哪些途径</a></li>
        <li><a href="faq.html#计费是基于账号还是应用">计费是基于账号还是应用</a></li>
        <li><a href="faq.html#如果没有缴费会怎么样">如果没有缴费会怎么样</a></li>
        {% if node!='qcloud' %}
        <li><a href="faq.html#如何付费">如何付费</a></li>
        <li><a href="faq.html#如何申请开具发票">如何申请开具发票</a></li>
        {% endif %}
        <li><a href="faq.html#哪里获取平台的更新信息">哪里获取平台的更新信息</a></li>
        <li><a href="faq.html#API_开放吗">API 开放吗</a></li>
        <li><a href="faq.html#提供哪些平台的_SDK">提供哪些平台的 SDK</a></li>
        <li><a href="faq.html#iOS_和_Android_是否可以使用同一个_App">iOS 和 Android 是否可以使用同一个 App</a></li>
        <li><a href="faq.html#支持_Unity_3D_吗">支持 Unity 3D 吗</a></li>
        <li><a href="faq.html#开发文档有提供搜索功能吗">开发文档有提供搜索功能吗</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>API 相关</h2>
      <ul>
        <li><a href="faq.html#API_调用次数有什么限制吗">API 调用次数有什么限制吗</a></li>
        <li><a href="faq.html#API_调用次数的计算">API 调用次数的计算</a></li>
        <li><a href="faq.html#可以在线测试_API_吗">可以在线测试 API 吗</a></li>
        <li><a href="error_code.html#_403">403 错误</a></li>
        <li><a href="faq.html#Unauthorized_错误">Unauthorized 错误</a></li>
        <li><a href="faq.html#错误信息代码和详细解释在哪里">错误信息代码和详细解释在哪里</a></li>
        <li><a href="faq.html#其他语言调用_REST_API_如何对参数进行编码">其他语言调用 REST API 如何对参数进行编码</a></li>
        <li><a href="faq.html#如何实现大小写不敏感的查询">如何实现大小写不敏感的查询</a></li>
        <li><a href="faq.html#应用内用户的密码需要加密吗">应用内用户的密码需要加密吗</a></li>
        <li><a href="faq.html#查询结果默认最多只能返回1000条数据_当我需要的数据量超过了1000该怎么办_">查询结果默认最多只能返回1000条数据，当我需要的数据量超过了1000该怎么办</a></li>
        <li><a href="faq.html#当数据量越来越来大时_怎么加快查询速度_" target="_blank">当数据量越来越来大时，怎么加快查询速度</a></li>
        <li><a href="faq.html#LeanCloud_查询支持_Sum__Group_By__Distinct_这种函数吗_" target="_blank">LeanCloud 查询支持 Sum, Group By, Distinct 这种函数吗</a></li>
        <li><a href="faq.html#sessionToken_在什么情况下会失效_" target="_blank">sessionToken 在什么情况下会失效</a></li>
        <li><a href="faq.html#默认值的查询结果为什么不对">默认值的查询结果为什么不对</a></li>
        <li><a href="faq.html#使用_CQL_子查询时查不到记录或查到的记录不全">使用 CQL 子查询时查不到记录或查到的记录不全</a></li>
        <li><a href="rest_api.html#获取_authData">User 表中有 authData 数据，但是当前登录用户无法获取 authData 数据</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>消息推送</h2>
      <ul>
        <li><a href="faq.html#推送的到达率如何">推送的到达率如何</a></li>
        <li><a href="faq.html#推送是基于_XMPP_还是其他协议">推送是基于 XMPP 还是其他协议</a></li>
        <li><a href="faq.html#有一些_iOS_设备收不到推送_到控制台查看推送记录_发现_invalidTokens的_数量大于0_是怎么回事_">有一些 iOS 设备收不到推送，到控制台查看推送记录，发现 invalidTokens 的数量大于 0 是怎么回事</a></li>
        <li><a href="faq.html#Android_消息接收能不能自定义_Receiver_不弹出通知">Android 消息接收能不能自定义 Receiver 不弹出通知</a></li>
        <li><a href="faq.html#Android_应用进程被杀掉后无法收到推送消息">Android 应用进程被杀掉后无法收到推送消息</a></li>
        <li><a href="ios_push_cert.html#上传证书失败">为何无法上传 iOS 推送证书</a></li>
        <li><a href="realtime_guide-objc.html#duplicate_message_notification">为何在 iOS 上离线消息重复推送了两次？</a></li>
        <li><a href="ios_push_cert.html#证书过期">推送报错 The iOS certificate file is expired or disabled.</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

{% if node != 'qcloud' and node != 'us' %}
  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>短信</h2>
      <ul>
        <li><a href="rest_sms_api.html#短信有什么限制吗_">短信有什么限制吗</a></li>
        <li><a href="rest_sms_api.html#短信_100_条的免费额度是针对每个账户还是每个应用_">短信 100 条的免费额度是针对每个账户还是每个应用</a></li>
        <li><a href="rest_sms_api.html#短信的到达率如何_">短信的到达率如何</a></li>
        <li><a href="rest_sms_api.html#怎么知道单条短信发送成功与否_">怎么知道单条短信发送成功与否</a></li>
        <li><a href="rest_sms_api.html#有些手机收不到短信是什么情况_">有些手机收不到短信是什么情况</a></li>
        <li><a href="rest_sms_api.html#短信签名是什么_必须的吗_">短信签名是什么必须的吗</a></li>
        <li><a href="rest_sms_api.html#短信模板审核的原则有哪些_" target="_blank">短信模板审核的原则有哪些</a></li>
        <li><a href="rest_sms_api.html#短信支持港澳台和国外吗_" target="_blank">短信支持港澳台和国外吗</a></li>
        <li><a href="rest_sms_api.html#账户余额不足有预警通知吗_" target="_blank">账户余额不足有预警通知吗</a></li>
      </ul>
    </div>
  </div>
  {% endif %}
  <!-- .col-md-4 -->

   

</div>
<!-- .row -->
<hr>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>云引擎</h2>
      <ul>
        <li><a href="faq.html#云引擎如何上传文件">云引擎如何上传文件</a></li>
        <li><a href="faq.html#云引擎中如何处理用户登录和_Cookie">云引擎中如何处理用户登录和 Cookie </a></li>
        <li><a href="faq.html#云引擎的二级域名多久生效">云引擎的二级域名多久生效</a></li>
        <li><a href="faq.html#云引擎二级域名可以启用_HTTPS_吗">云引擎二级域名可以启用 HTTPS 吗</a></li>
        <li><a href="faq.html#云引擎_Web_Hosting_备案">云引擎 Web Hosting 备案</a></li>
        <li><a href="faq.html#如何在本地调试依赖_LeanCache_的应用_">如何在本地调试依赖 LeanCache 的应用</a></li>
        <li><a href="leanengine_cloudfunction_guide-node.html#Cron_表达式">定时器 crontab 表达式</a></li>
        <li><a href="faq.html#云引擎都支持哪些语言">云引擎都支持哪些语言</a></li>
        <li><a href="faq.html#为什么在控制台通过在线定义函数或项目定义函数中的_Class_Hook_没有被运行_">为什么在控制台通过在线定义函数或项目定义函数中的 Class Hook 没有被运行</a></li>
        <li><a href="faq.html#使用命令行工具在本地调试时提示_Error__listen_EADDRINUSE____3000__无法访问应用">使用命令行工具在本地调试时提示 Error: listen EADDRINUSE :::3000, 无法访问应用</a></li>
        <li><a href="faq.html#云函数如何获取_Header_如何响应_GET_方法_">云函数如何获取 Header、如何响应 GET 方法</a></li>
        <li><a href="leanengine_faq.html#如何判断当前是预备环境还是生产环境_">如何判断当前是预备环境还是生产环境</a></li>
        <li><a href="leanengine_faq.html#怎么添加第三方模块">怎么添加第三方模块</a></li>
        <li><a href="leanengine_faq.html#Maximum_call_stack_size_exceeded_如何解决_">Maximum call stack size exceeded 如何解决</a></li>
        <li><a href="leanengine_faq.html#目前支持哪些语言_">目前支持哪些语言</a></li>
        <li><a href="leanengine_faq.html#Web_Hosting_备案如何操作_">Web Hosting 备案如何操作</a></li>
        <li><a href="leanengine_faq.html#调用云引擎方法如何收费_">调用云引擎方法如何收费</a></li>
        <li><a href="leanengine_faq.html#_定义函数_和_Git_部署_可以混用吗_">「定义函数」和「Git 部署」可以混用吗</a></li>
        <li><a href="leanengine_faq.html#为什么查询_include_没有生效_">为什么查询 include 没有生效</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>控制台</h2>
      <ul>
        <li><a href="faq.html#如何导入或者导出数据_">如何导入或者导出数据</a></li>
        <li><a href="faq.html#如何在_App_邮件内完全使用自己的品牌">如何在 App 邮件内完全使用自己的品牌</a></li>
        <li><a href="faq.html#创建唯一索引失败">创建唯一索引失败</a></li>
        <li><a href="faq.html#如何上传文件">如何上传文件</a></li>
        <li><a href="faq.html#如何在应用之间共享数据">如何在应用之间共享数据</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>iOS/macOS SDK</h2>
      <ul>
        <li><a href="faq.html#安装_Cocopods_失败怎么解决">安装 Cocopods 失败怎么解决</a></li>
        <li><a href="faq.html#iOS_项目打包后的大小">iOS 项目打包后体积能否缩小</a></li>
        <li><a href="ios-macos-faq.html#为什么不能真机调试">为什么不能真机调试</a></li>
        <li><a href="faq.html#编译失败">编译失败</a></li>
        <li><a href="faq.html#Undefined_symbols_for_architecture">Undefined symbols for architecture</a></li>
        <li><a href="faq.html#请求报错">请求报错</a></li>
        <li><a href="faq.html#地理位置查询错误">地理位置查询错误</a></li>
        <li><a href="leanstorage_guide-objc.html#手机号码登录">如何先验证手机号码再注册</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>Android SDK</h2>
      <ul>
        <li><a href="android_faq.html#代码混淆怎么做">代码混淆怎么做</a></li>
        <li><a href="faq.html#对_AVObject_对象使用_getDate__createdAt___方法读取创建时间为什么会返回_null">对 AVObject 对象使用 getDate("createdAt") 方法读取创建时间为什么会返回 null </a></li>
        <li><a href="faq.html#client_open___操作为什么没有被调用_">client.open() 操作为什么没有被调用</a></li>
        <li><a href="faq.html#Anroid_设备每次启动时_installationId_为什么总会改变_如何才能不改变_">Anroid 设备每次启动时，installationId 为什么总会改变如何才能不改变</a></li>
        <li><a href="leanstorage_guide-android.html#手机号码登录">如何先验证手机号码再注册</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

</div>
<!-- .row -->
<hr>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>JavaScript SDK</h2>
      <ul>
        <li><a href="faq.html#有没有同步_API">有没有同步 API</a></li>
        <li><a href="faq.html#在_AV_init_中用了_Master_Key_但发出去的_AJAX_请求返回_206">在 AV.init 中用了 Master Key，但发出去的 AJAX 请求返回 206</a></li>
        <li><a href="faq.html#Web_端会暴露_App_Key_和_App_Id_怎么保证安全性_">Web 端会暴露 App Key 和 App Id，怎么保证安全性</a></li>
        <li><a href="leanstorage_guide-js.html#手机号码登录">如何先验证手机号码再注册</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>文件</h2>
      <ul>
        <li><a href="faq.html#文件存储有_CDN_加速吗_">文件存储有 CDN 加速吗</a></li>
        <li><a href="faq.html#文件存储有大小限制吗_">文件存储有大小限制吗</a></li>
        <li><a href="faq.html#存储图片可以做缩略图等处理吗_">存储图片可以做缩略图等处理吗</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->

  <div class="col-md-3 col-xs-6">
    <div class="link-block">
      <h2>统计</h2>
      <ul>
        <li><a href="faq.html#统计服务免费吗">统计服务免费吗</a></li>
        <li><a href="faq.html#统计服务支持哪些平台">统计服务支持哪些平台</a></li>
        <li><a href="faq.html#统计支持哪些发送策略">统计支持哪些发送策略</a></li>
      </ul>
    </div>
  </div>
  <!-- .col-md-4 -->
</div>
<!-- .row -->
