--- layout: download.swig ---

<div class="home-full-width-content">

  <div class="doc-home-title">
    <h1 class="font-logo">LeanCloud &times; Postman</h1>
    <h4>Postman 版本的 REST API 调用工具箱</h4>
  </div>
  <!-- .doc-home-title -->

</div>

<p>
  LeanCloud &times; Postman 是一个帮助开发者快速了解 LeanCloud REST API、调用 API 的工具。通过 Postman 的 Google Chrome 扩展实现。
  <br>特性：
  <ul>
    <li>可以灵活设置 URL，URL Get 参数， HTTP header 参数， JSON 格式数据。</li>
    <li>可以把发送的请求转换为 cURL 等语言的实现。 </li>
    <li>可以通过 Google Chrome 开发者工具查看实际发出的请求和响应</li>
  </ul>
</p>

<h3>
  关于 <a href="https://www.getpostman.com/" target="_blank">Postman <i class="icon icon-external"></i></a>
</h3>

<p>
  Postman 是一个模拟 HTTP 请求的工具，方便开发者快速构建、调试 API。
</p>
<hr>
<h3>
  如何使用
</h3>

<ol>
  <li>
    <a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop"> 安装 Postman</a>，Postman 是一个 Chrome 扩展。
  </li>
  <li>
    引入 <a href="images/postman/LeanCloud.json.postman_collection">LeanCloud Collection</a>  文件。定义了 LeanCloud REST API 调用格式的文件。
  </li>
  <li>
    引入 <a href="images/postman/globals.postman_globals">LeanCloud 全局环境变量文件</a>，定义了 host、API 版本的全局变量。
  </li>
  <li>引入 <a href="images/postman/APITest.postman_environment">LeanCloud 应用级别环境变量文件</a>，定义了应用的 AppID，AppKey，Master Key。可以替换成开发者自己的应用的相关值</li>
</ol>

<p>
  <img src="images/postman/postman.png">
</p>
