--- layout: download.swig ---
<style type="text/css">
.doc-content h2 { color: #333; } h1 .changelog-rss {display: inline-block;line-height: 1; height: 24px;vertical-align: 5px;}
</style>
<div class="row">
  <div class="col-md-12">
    <div class="doc-home-title">
      <h1 class="font-logo">
        {% if node=='qcloud' %}
        TAB SDK 下载
        {% else %}
        LeanCloud SDK 下载
        {% endif %}
      </h1>
      <h4>SDK 及相关资源下载</h4>
    </div>
    <!-- .doc-home-title -->
  </div>
  <!-- .col-md-12 -->
  <div class="col-md-12">
    <div style="display:flex;flex-wrap:wrap;margin-left:-20px">
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> Objective-C</h2>
          <p>
            分为 iOS、macOS、watchOS 和 tvOS SDK， <a href="https://releases.leanapp.cn/#/leancloud/objc-sdk/releases">查看所有</a>
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://releases.leanapp.cn/#/leancloud/objc-sdk/releases" class="btn btn-sm btn-primary">Objective-C SDK </a></li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/leancloud-feedback-ios/releases" class="btn btn-link"> 用户反馈组件</a></li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/leancloud-social-ios/releases" class="btn btn-link"> 社交组件</a></li>
          <li><a href="https://releases.leanapp.cn/#/leancloud/ChatKit-OC/releases" class="btn btn-link">ChatKit</a></li>
        </ul>
      </div>
      <div class="dl-cell">
        <div class="desc">
          <h2><i class="icon icon-github"></i> JavaScript SDK</h2>
          <p>
            根据功能需求选择对应的 SDK
          </p>
        </div>
        <ul class="list-unstyled list-inline download-btns">
          <li><a href="https://releases.leanapp.cn/#/leancloud/javascript-sdk/releases" class="btn btn-sm btn-primary"> 数据存储 SDK</a>
        </li>
        <li><a href="https://releases.leanapp.cn/#/leancloud/js-realtime-sdk/releases" class="btn btn-sm btn-primary"> 实时通信 SDK</a>
      </li>
  </ul>
</div>
<div class="dl-cell">
  <div class="desc">
    <h2><i class="icon icon-github"></i> Android SDK</h2>
    <p>包含数据存储（基础模块）、实时通信与推送、统计、社交、用户反馈、应用内搜索、混合推送。其中数据存储需要以下依赖库：JSON 解析库、HTTP MimeType 解析库、HTTP 调用库。
    </p>
</div>
<ul class="list-inline">
  <li>
    <a href="https://releases.leanapp.cn/#/leancloud/android-sdk-all/releases" class="btn btn-sm btn-primary">Android SDK</a>
  </li>
  <li class="muted">·</li>
  <li>
    <a class="btn btn-link" href="https://releases.leanapp.cn/#/leancloud/LeanCloudChatKit-Android/releases">ChatKit</a>
  </li>
</ul>
</div>
<div class="dl-cell">
<h2><i class="icon icon-github"></i> Unity SDK </h2>
<div class="desc">
    <p>
      自 2016 年 12 月起，原来的 AVOSCloud.dll 按照模块被拆分为 Core、Storage、Analytics、Push 等不同的文件。阅读 <a href="start.html">SDK 安装指南</a> 获取帮助，或者访问 <a href="https://releases.leanapp.cn/#/leancloud/unity-sdk/releases">Unity SDK Release</a> 查看所有历史版本。
    </p>
  </div>
  <ul class="list-unstyled list-inline download-btns">
    <li> <a href="https://releases.leanapp.cn/#/leancloud/unity-sdk/releases" class="btn btn-sm btn-primary"> Unity SDK </a></li>
  </ul>
</div>
<div class="dl-cell">
<h2>.NET（新版）</h2>
<div class="desc">
    <p>
      自 2016 年 12 月起，.NET SDK 将统一代码并且按照模块被拆分为 Core、Storage、Analytics、Push 等不同的文件。阅读 <a href="start.html">SDK 安装指南</a> 获取帮助，或者前往 Nuget 进行安装。
      <a href="https://www.nuget.org/packages/LeanCloud/">Install LeanCloud .NET SDK via nuget</a>
    </p>
  </div>
  <ul class="list-unstyled list-inline download-btns">
    <li> <a href="https://www.nuget.org/packages/LeanCloud/" class="btn btn-sm btn-primary"> .NET SDK </a></li>
  </ul>
</div>
<div class="dl-cell">
<div class="desc">
  <h2><i class="icon icon-github"></i> 其他 SDK（开放源码）</h2>
</div>
<ul class="list-unstyled list-inline download-btns">
  <li><a href="https://github.com/leancloud/java-sdk" class="btn btn-link"> Java SDK</a></li>
  <li><a href="https://releases.leanapp.cn/#/leancloud/python-sdk/releases" class="btn btn-link"> Python SDK</a></li>
  <li><a href="https://releases.leanapp.cn/#/leancloud/php-sdk/releases" class="btn btn-link"> PHP SDK</a></li>
  <li><a href="https://github.com/leancloud/cpp-sdk" class="btn btn-link"> C++ SDK</a></li>
  <li><a href="https://github.com/leancloud/swift-sdk" class="btn btn-link"> Swift SDK</a></li>
</ul>
</div><div class="dl-cell" style="border-color:transparent;"></div>
</div>

<!-- .row -->

</div>
<!-- .col-md-12 -->
<!--<div class="col-md-12">
<h2>SDK、Demo 汇总</h2>
<ul class="list-unstyled list-inline">
<li><a href="https://releases.leanapp.cn/#/leancloud/leancloud-sdk/releases" class="btn btn-lg  btn-default"><i class="icon icon-github"></i> leancloud/leancloud-sdk</a>
</li>
<li><a href="https://github.com/leancloud/leancloud-demos" class="btn btn-lg  btn-default"><i class="icon icon-github"></i> leancloud/leancloud-demos</a>
</li>
</ul>
</div>
<div class="col-md-12">
<p>我们的开源 SDK：</p>
<ul class="list-unstyled list-inline">
<li><a href="https://github.com/leancloud/cpp-sdk" class="btn  btn-default btn-lg"><i class="icon icon-github"></i> C++ SDK</a></li>
<li><a href="https://releases.leanapp.cn/#/leancloud/javascript-sdk/releases" class="btn  btn-default btn-lg"><i class="icon icon-github"></i> JavaScript Core SDK</a></li>
<li><a href="https://releases.leanapp.cn/#/leancloud/js-realtime-sdk/releases" class="btn  btn-default btn-lg"><i class="icon icon-github"></i> JavaScript 实时通信 SDK</a></li>
<li><a href="https://github.com/leancloud/js-push-sdk" class="btn  btn-default btn-lg"><i class="icon icon-github"></i> JavaScript 推送 SDK</a></li>
<li><a href="https://github.com/leancloud/python-sdk" class="btn  btn-default btn-lg"><i class="icon icon-github"></i> Python SDK</a></li>
</ul>
<br>
<br>
</div> -->
<!-- .col-md-12 -->
<!-- Modals -->
<div class="modal fade" id="modal-ios-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-ios-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-ios-changelog-label">iOS Changelog</h4>
</div>
<div class="modal-body">
<div id="ios-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-osx-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-osx-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-ios-changelog-label">macOS Changelog</h4>
</div>
<div class="modal-body">
<div id="osx-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-android-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-android-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-android-changelog-label">Android Changelog</h4>
</div>
<div class="modal-body">
<div id="android-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-javascript-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Changelog</h4>
</div>
<div class="modal-body">
<div id="js-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-jschat-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Chat Changelog</h4>
</div>
<div class="modal-body">
<div id="jschat-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-unity3d-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-unity3d-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-unity3d-changelog-label">Unity Changelog</h4>
</div>
<div class="modal-body">
<div id="unity3d-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-wp-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-wp-changelog-label" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="modal-wp-changelog-label">Windows Phone Changelog</h4>
</div>
<div class="modal-body">
<div id="wp-changelog" class="changelog-list selectable-text"></div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
</div>
</div>
</div>
</div>
<!--end row-->
