--- layout: download.swig ---
<link rel="alternate" type="application/atom+xml" title="LeanCloud SDK Update Feed" href="https://download.leancloud.cn/sdk/feed.xml" />
<div class="row" ng-controller = "DownCtrl">
  <div class="col-md-12">
    <h1 style="margin-top: 0;">
      SDK 下载 <a href="https://download.leancloud.cn/sdk/feed.xml" class="changelog-rss bstooltip" title="所有平台 SDK 的 RSS 更新"><i class="icon icon-rss"></i> RSS</a>
    </h1>
  </div>
  <!-- .col-md-12 -->

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="dl-cell">
          <h2>iOS SDK <small>v{{sdkversion.ios}}</small></h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="checkbox custom-control">
                <label class="bspopover" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-title="详情" data-content="<p><strong>基础模块包含：</strong></p><ul><li>存储</li><li>统计</li><li>推送</li><li>用户反馈</li></ul>">
                  <input type="checkbox" name="ios" disabled checked>
                  <span class="control-indicator"></span>
                  基础模块
                </label>
              </div>
            </div>
            <div class="col-sm-6" ng-repeat="m in download.ios.optional">
              <div class="checkbox custom-control">
                <label>
                  <input type="checkbox" name="ios" value="{{m.name}}" ng-model="downselect.ios[m.name]" data-size="{{m.size}}">
                  <span class="control-indicator"></span>
                  {{m.name}}
                </label>
              </div>
            </div>
          </div>

          <hr>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('ios')">
            下载 <span>- {{getDownSize('ios')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/ios_feed.xml" class="changelog-rss bstooltip" title="iOS SDK RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-ios-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/iOS/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://github.com/leancloud/leancloud-demos#ios">Demo</a>
            </li>
          </ul>
        </div>
        <!-- .dl-cell -->
      </div>

      <div class="col-md-6">
        <div class="dl-cell">
          <h2>OS X SDK <small>v{{sdkversion.osx}}</small></h2>

          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox custom-control">
                <label class="bspopover" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-title="详情" data-content="<p><strong>基础模块包含：</strong></p><ul><li>存储</li><li>统计</li></ul>">
                  <input type="checkbox" name="osx" disabled checked>
                  <span class="control-indicator"></span>
                  基础模块
                </label>
              </div>
            </div>
            <div class="col-sm-4" ng-repeat="m in download.osx.optional">
              <label class="checkbox">
                <input type="checkbox" name="osx"ng-model="downselect.osx[m.name]" >
                {{m.name}}
              </label>
            </div>
          </div>

          <hr>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('osx')">
            下载 <span>- {{getDownSize('osx')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/osx_feed.xml" class="changelog-rss bstooltip" title="OS X SDK RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-osx-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/OSX/">其他版本</a>
            </li>
          </ul>
        </div>
        <!-- .dl-cell -->
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .col-md-12 -->

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 android">
        <div class="dl-cell">
          <h2>Android SDK <small>v{{sdkversion.android}}</small></h2>

          <div class="row ">

            <div class="col-sm-12" ng-repeat="m in download.android.required">
              <label class="checkbox" ng-hide="true">
                <input type="checkbox" name="android" ng-model="downselect.android[m.name]" >
                {{m.name}}
              </label>

            </div>
            <div class="col-sm-6">

              <!-- 依赖 <li ng-repeat="m in download.android.required" ng-show="m.name!='存储模块'">{{m.name}}</li> -->

              <div class="checkbox custom-control">
                <label class="bspopover" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-title="详情" data-content="<p><strong>基础模块包含：</strong></p><ul><li>存储</li></ul><p></p><p><strong>依赖：</strong></p><ul><li>JSON 解析库</li><li>HTTP MimeType 解析库</li><li>HTTP 调用库</li></ul>">
                  <input type="checkbox" name="android" disabled checked>
                  <span class="control-indicator"></span>
                  基础模块
                </label>
              </div>

            </div>
            <div class="col-sm-6" ng-repeat="m in download.android.optional">
              <div class="checkbox custom-control">
                <label>
                  <input type="checkbox" name="android" ng-model="downselect.android[m.name]">
                  <span class="control-indicator"></span>
                  {{m.name}}
                </label>
              </div>
            </div>

          </div>

          <hr>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('android')">
            下载 <span>- {{getDownSize('android')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/android_feed.xml" class="changelog-rss bstooltip" title="Android SDK RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-android-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/android/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://github.com/leancloud/leancloud-demos#android">Demo</a>
            </li>
          </ul>
        </div>
        <!-- .dl-cell -->
      </div>

      <div class="col-md-6">
        <div class="dl-cell">
          <h2>JavaScript Core SDK <small>v{{sdkversion.javascript}}</small></h2>

          <div class="row" style="display:none">
            <div class="col-sm-4">
              <label class="checkbox bspopover" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-title="详情" data-content="<p><strong>基础模块包含：</strong></p><ul><li>存储</li><li>统计</li></ul>">
                <input type="checkbox" name="javascript" checked disabled>
                基础模块
              </label>
            </div>
            <div class="col-sm-4" ng-repeat="m in download.javascript.optional">
              <label class="checkbox">
                <input type="checkbox" name="javascript" value="{{m.name}}" checked >
                {{m.name}}
              </label>
            </div>
          </div>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('javascript')"  style="margin-bottom:10px">
            下载 <span>- {{getDownSize('javascript')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/javascript_feed.xml" class="changelog-rss bstooltip" title="JavaScript RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-javascript-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/javascript/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://github.com/leancloud/leancloud-demos#javsscript">Demo</a>
            </li>
          </ul>

          <hr>
          <h2>JavaScript Chat SDK <small>v{{sdkversion.jschat}}</small></h2>

          <div class="row" style="display:none">
            <div class="col-sm-4">
              <label class="checkbox bspopover" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-title="详情" data-content="<p><strong>基础模块包含：</strong></p><ul><li>存储</li><li>统计</li></ul>">
                <input type="checkbox" name="jschat" checked disabled>
                基础模块
              </label>
            </div>
            <div class="col-sm-4" ng-repeat="m in download.jschat.optional">
              <label class="checkbox">
                <input type="checkbox" name="jschat" value="{{m.name}}" checked >
                {{m.name}}
              </label>
            </div>
          </div>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('jschat')" style="margin-bottom:10px">
            下载 <span>- {{getDownSize('jschat')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/jschat_feed.xml" class="changelog-rss bstooltip" title="JavaScript RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-jschat-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/jschat/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/jschat/samples/">Demo</a>
            </li>
          </ul>

        </div>
        <!-- .dl-cell -->
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="dl-cell">
          <h2>Unity SDK <small>v{{sdkversion.unity3d}}</small></h2>

          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox custom-control">
                <label>
                  <input type="checkbox" name="unity3d" disabled checked>
                  <span class="control-indicator"></span>
                  基础模块
                </label>
              </div>
            </div>
            <div class="col-sm-4" ng-repeat="m in download.unity3d.optional">
              <label class="checkbox">
                <input type="checkbox" name="unity3d" value="{{m.name}}" checked >
                {{m.name}}
              </label>
            </div>
          </div>

          <hr>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('unity3d')">
            下载 <span>- {{getDownSize('unity3d')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/unity3d_feed.xml" class="changelog-rss bstooltip" title="Unity RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-unity3d-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/unity3d/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://github.com/leancloud/leancloud-demos#unity">Demo</a>
            </li>
          </ul>
        </div>
        <!-- .dl-cell -->
      </div>
      <!-- .col-md-6 -->

      <!-- wp -->
      <div class="col-md-6">
        <div class="dl-cell">
          <h2>Windows Phone SDK <small>v{{sdkversion.wp}}</small></h2>

          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox custom-control">
                <label>
                  <input type="checkbox" name="wp" disabled checked>
                  <span class="control-indicator"></span>
                  基础模块
                </label>
              </div>
            </div>
            <div class="col-sm-4" ng-repeat="m in download.wp.optional">
              <label class="checkbox">
                <input type="checkbox" name="unity3d" value="{{m.name}}" checked >
                {{m.name}}
              </label>
            </div>
          </div>

          <hr>

          <a class="btn btn-sm btn-primary dl-cell-btn" ng-click="download('wp')">
            下载 <span>- {{getDownSize('wp')}}</span>
          </a>

          <ul class="list-inline">
            <li>
              <a href="https://download.leancloud.cn/sdk/wp_feed.xml" class="changelog-rss bstooltip" title="Windows Phone RSS"><i class="icon icon-rss"></i></a>
              <a href="#sdk-changelog" data-toggle="modal" data-target="#modal-wp-changelog">更新历史</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://download.leancloud.cn/sdk/wp/">其他版本</a>
            </li>
            <li class="muted">·</li>
            <li>
              <a href="https://github.com/leancloud/leancloud-demos#windows-phone">Demo</a>
            </li>
          </ul>
        </div>
        <!-- .dl-cell -->
      </div>
    </div>
    <!-- .row -->
  </div>

  <div class="col-md-12">


    <p>我们在 GitHub 上的 repo：</p>

    <ul class="list-unstyled list-inline">
      <li><a href="https://github.com/leancloud/leancloud-sdk" class="btn btn-lg btn-default" target="_blank"><i class="icon icon-github"></i> leancloud/leancloud-sdk</a></li>
      <li><a href="https://github.com/leancloud/leancloud-demos" class="btn btn-lg btn-default" target="_blank"><i class="icon icon-github"></i> leancloud/leancloud-demos</a></li>
    </ul>

    <ul class="list-unstyled list-inline">
       <li><a href="https://gitcafe.com/leancloud" class="">Gitcafe Demo 镜像</a></li>
    </ul>
  </div>

  <div class="col-md-12">
    <p>我们的开源 SDK</p>
    <a href="https://github.com/leancloud/cpp-sdk" class="btn  btn-default btn-lg"> C++ SDK</a>
    <br>
    <br>
  </div>
  <!-- .col-md-12 -->

  <!-- Modals -->
  <div class="modal fade" id="modal-ios-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-ios-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-ios-changelog-label">iOS Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="ios-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-osx-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-osx-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-ios-changelog-label">OS X Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="osx-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-android-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-android-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-android-changelog-label">Android Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="android-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-javascript-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="js-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-jschat-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-javascript-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-javascript-changelog-label">JavaScript Chat Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="jschat-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-unity3d-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-unity3d-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-unity3d-changelog-label">Unity Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="unity3d-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-wp-changelog" tabindex="-1" role="dialog" aria-labelledby="modal-wp-changelog-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-wp-changelog-label">Windows Phone Changelog</h4>
        </div>
        <div class="modal-body">
          <div id="wp-changelog" class="changelog-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>


</div><!--end row-->
