{% set baseUrl = "/dashboard/" %}
{% set navs = {
  "控制台":
    "消息": {
      "实时消息": {
        "用户": "links"
      }
    }
  
} %}

{% macro nav(key, label="") %}

{{ node }}
if label else display level/depth/tree nodes
{% endmacro %}
{# 
控制台.消息.实时消息.用户

#}
