{% from 'views/_helper.njk' import 
  alert  
%}
{% macro ops(prefix='', heading='') %}
{% if heading != '' %}
  {{heading}}
{% endif %}

使用 `{{prefix}}op("操作名称", {JSON 参数})` 函数可以完成原子性操作，确保数据的一致性。  

操作 | 说明 | 示例
---|---|---
Delete | 删除对象的一个属性 | `{{prefix}}op('Delete', {})`
Add | 在数组末尾添加对象 | `{{prefix}}op('Add',{'objects':['Apple','Google']})`
AddUnique | 在数组末尾添加不会重复的对象，插入位置不定。| `{{prefix}}op('AddUnique', {'objects':['Apple','Google']})`
Remove | 从数组中删除对象 | `{{prefix}}op('Remove',{'objects':['Apple','Google']})`
AddRelation | 添加一个关系 | `{{prefix}}op('AddRelation', {'objects':[pointer('_User','558e20cbe4b060308e3eb36c')]})`
RemoveRelation | 删除一个关系 | `{{prefix}}op('RemoveRelation', {'objects':[pointer('_User','558e20cbe4b060308e3eb36c')]})`
Increment | 递增 | `{{prefix}}op('Increment', {'amount': 50})`
Decrement | 递减 | `{{prefix}}op('Decrement', {'amount': 50})`
BitAnd | 与运算   | `{{prefix}}op('BitAnd', {'value': 0x0000000000000004})`
BitOr  | 或运算   | `{{prefix}}op('BitOr', {'value': 0x0000000000000004})`
BitXor | 异或运算 | `{{prefix}}op('BitXor', {'value': 0x0000000000000004})`
{% endmacro %}

{% macro debuglog(segment='', headingLevel='###') -%}
{% set list = [
   'all'
  ,'objc'
  ,'java'
  ,'android'
  ,'javascript'
  ,'js'
  ,'php'
  ,'python'
] %}

{% if list.indexOf(segment) != -1 -%}

{{headingLevel}} 开启调试日志

在应用开发阶段，你可以选择开启 SDK 的调试日志（debug log）来方便追踪问题。调试日志开启后，SDK 会把网络请求、错误消息等信息输出到 IDE 的日志窗口，或是浏览器 Console 或是 LeanCloud 控制台的 [云引擎日志](/dashboard/cloud.html?appid={{appid}}#/log) 中。

{% if segment == "all" or segment == "objc"  or segment == "objective-c" -%}
```objc
// 放在 SDK 初始化语句 [AVOSCloud setApplicationId:] 后面，只需要调用一次即可
[AVOSCloud setAllLogsEnabled:YES];
```
{%- endif -%}
{% if segment == "all" or segment == "java"  or segment == "android" -%}
```java
// 放在 SDK 初始化语句 AVOSCloud.initialize() 后面，只需要调用一次即可
AVOSCloud.setDebugLogEnabled(true);
```
{%- endif -%}
{% if segment == "all" or segment == "javascript" or segment == "js" -%}
```js
// Node.js 中设置环境变量 DEBUG=leancloud*
// 通过 npm 启动应用时打开调试
DEBUG=leancloud* npm start

// 若使用云引擎 Node.js 环境，进入 LeanCloud 应用控制台 > 云引擎 > 设置 > 自定义环境变量，
// 第一字段写 DEBUG，第二个字段写 leancloud:*，保存。（注意 leancloud 和 * 之间有个冒号）
// 或使用云引擎 CLI 启动应用时打开调试，日志会输出到 应用控制台 > 云引擎 > 日志：
DEBUG=leancloud:* lean up

// 浏览器的 Console 中设置 localStorage
localStorage.setItem('debug', 'leancloud*');
```
{%- endif -%}
{% if segment == "all" or segment == "python" -%}
```python
# 写在启动脚本的头部
# 如果是在 LeanEngine 环境，启动脚本是 wsgi.py
import logging

logging.basicConfig(level=logging.DEBUG)
```
{%- endif -%}
{% if segment == "all" or segment == "php" -%}
```php
// 放在 SDK 初始化语句 Client::initialize() 后面，只需要调用一次即可
Client::setDebug(true);
```
{%- endif %}

{{ alert("在应用发布之前，请关闭调试日志，以免暴露敏感数据。") }}
{%- endif %}
{%- endmacro %}

{% macro retrieveAuthData(node, heading="") -%}
{%- if heading != "" %}{{heading}}{%- endif %}

authData 的数据<u>默认为不可查询</u>，也就是说它既不包含在当前登录用户的数据中，也无法在 query 中以 include 或 fetch 来获取。要更改这一默认行为，需要进入 {% if node == 'qcloud' %}**应用控制台** > **存储** > **_User**{% else %}[应用控制台 > 存储 > _User 表](/dashboard/data.html?appid={% raw %}{{{% endraw %}appid{% raw %}}}{% endraw %}#/_User){% endif %}，点击 authData 字段右侧的箭头，选择 **编辑**，关掉「列属性」里的「客户端不可见」选项才能获取到。
{% endmacro %}

{% macro supportEmail() -%}
<support@leancloud.rocks>
{%- endmacro %}

{% macro generalEmail() -%}
<business@leancloud.rocks>
{%- endmacro %}
