# 云引擎

云引擎（{{productName}}）是 LeanCloud 推出的集成托管平台。为了统一名称，本文中出现的 {{productName}} 均代指云引擎。

{{productName}} 的功能特点如下：

1. 开发者可以将自己的代码托管到 {{productName}} 上，换言之，用户可以把自己的 node.js 或者 python 以及 php （目前支持这三种语言，更多语言运行时即将支持）上传到 {{productName}} 上运行。
2. {{productName}} 内置了 LeanStorage（数据存储服务）服务，简而言之，开发者无需再为自己的逻辑代码配置一个 mysql 或者 mangdb 的实例，仅仅需要使用 API 接口就能轻松的实现数据库的功能。
3. {{productName}} 内置了许多实用的辅助功能，包括但不限于日志打印，性能检测，这些通用的功能可以帮助开发者专心在自己核心的业务逻辑，省去额外的开发工作。



## 网站托管
### Demo

### 部署

## 云函数
云函数指的是开发者在使用 LeanCloud SDK 的时候，针对服务端的功能有自己特殊的自定义需求的时候，可以使用 {{productName}} 提供的云函数来实现。云函数包含以下几种：

1. Webhook 类型，比如有些应用想在用户注册时候给用户统一分配一个会员号，如果把生成会员号的代码放在客户端难免会造成编号冲突并且不便于统一算法，这个时候就可以使用云函数提供的 Webhook 函数针对用户 login 接口做统一的处理。
2. 自定义类型，比如有些应用会需要计算用户的账单信息，账单的计算依赖于多张表的查询结果，如果都放在客户端去做，那么 iOS 要写一套算法，Android 也要写一套算法，这显然是工作冗余，因此如果可以在服务单放一个 HTTP（HTTPS）接口让每一个客户端统一调用就可以解决这个问题。

### 云端编写云函数



## 定时任务

## 测试与发布

## 资源限制




