{% import "views/_helper.njk" as docs %}
{% import "views/_parts.html" as include %}
# {{platform_name}} SDK 安装指南

## 获取 SDK

获取 SDK 有多种方式，较为推荐的方式是通过包依赖管理工具下载最新版本。

### 包依赖管理工具安装

{% block libs_tool_automatic %}{% endblock %}

{% block text_manual_setup %}
### 手动安装

<a class="btn btn-default" target="_blank" href="sdk_down.html">下载 SDK</a>

{% block import_sdk %}{% endblock %}

{% endblock %}

## 初始化

首先进入 {% if node=='qcloud' %}**控制台** > **设置** > **应用 Key**{% else %}[控制台 > 设置 > 应用 Key](/app.html?appid={{appid}}#/key){% endif %} 来获取 App ID 以及 App Key。

{% block init_with_app_keys %}{% endblock %}

{{ include.debuglog(platform_name | lower) }}

### 启用指定节点

SDK 的初始化方法默认使用**中国大陆节点**，如需切换到 [其他可用节点](#全球节点)，请参考如下用法：

{% block sdk_switching_node %}{% endblock %}

### 全球节点

- 中国大陆节点 **leancloud.cn**（SDK 初始化方法**默认**使用该节点）
- 北美节点 **us.leancloud.cn**（服务北美市场）
{# - ~~香港节点，服务东南亚市场~~（未上线，准备中）#}

{{ docs.alert("各个节点彼此独立，开发者账号无法跨节点来创建应用或调用 API。") }}

## 验证

首先，确认本地网络环境是可以访问 LeanCloud 服务器的，可以执行以下命令行：

```shell
ping {{host}}
```
如果当前网路正常将会得到如下响应：

```shell
PING api-ucloud.leancloud.cn (123.59.41.31): 56 data bytes
64 bytes from 123.59.41.31: icmp_seq=0 ttl=51 time=9.032 ms
64 bytes from 123.59.41.31: icmp_seq=1 ttl=51 time=7.290 ms
64 bytes from 123.59.41.31: icmp_seq=2 ttl=51 time=8.131 ms
64 bytes from 123.59.41.31: icmp_seq=3 ttl=51 time=9.689 ms
64 bytes from 123.59.41.31: icmp_seq=4 ttl=51 time=6.559 ms
64 bytes from 123.59.41.31: icmp_seq=5 ttl=51 time=8.665 ms
64 bytes from 123.59.41.31: icmp_seq=6 ttl=51 time=8.041 ms
64 bytes from 123.59.41.31: icmp_seq=7 ttl=51 time=8.203 ms
64 bytes from 123.59.41.31: icmp_seq=8 ttl=51 time=6.288 ms
64 bytes from 123.59.41.31: icmp_seq=9 ttl=51 time=7.938 ms

--- api-ucloud.leancloud.cn ping statistics ---
10 packets transmitted, 10 packets received, 0.0% packet loss
round-trip min/avg/max/stddev = 6.288/7.984/9.689/0.997 ms
```
然后在项目中编写如下测试代码：

{% block save_a_hello_world %}{% endblock %}

然后打开 {% if node=='qcloud' %}**控制台** > **存储** > **数据** > **TestObject**{% else %}[控制台 > 存储 > 数据 > TestObject](/data.html?appid={{appid}}#/TestObject){% endif %}，如果看到如下内容，说明 SDK 已经正确地执行了上述代码，安装完毕。


![testobject_saved](images/testobject_saved.png)

如果控制台没有发现对应的数据，请参考 [问题排查](#问题排查)。

## 问题排查

### 401 Unauthorized

如果 SDK 抛出 401 异常或者查看本地网络访问日志存在：

```json
{
  "code": 401,
  "error": "Unauthorized."
}
```
则可认定为 App ID 或者 App Key 输入有误，或者是不匹配，很多开发者同时注册了多个应用，导致拷贝粘贴的时候，用 A 应用的 App ID 匹配 B 应用的 App Key，这样就会出现服务端鉴权失败的错误。

### 客户端无法访问网络

客户端尤其是手机端，应用在访问网络的时候需要申请一定的权限。

{% block permission_access_network_config %}{% endblock %}

{% block platform_specific_faq %}{% endblock %}

{% block android_multidex_issue %} {% endblock %}
