{# 效果：http://localhost:4000/test.html #}

# 测试 tmpl 模版和 nunjucks

效果：<http://localhost:4000/test.html>

测试链接：

- [realtime_v2#消息（Message）](realtime_v2.html#消息（Message）)
- [realtime_v2#消息_Message_](realtime_v2.html#消息_Message_)
- [push_guide.html#消息内容_Data](push_guide.html#消息内容_Data) 
- [push_guide.html#消息内容-Data](push_guide.html#消息内容-Data) 

以下是子文档内容：
{% set items = [
  { name: 'b', desc: 'b-b'},
  { name: 'c', desc: 'c-c'},
  { name: 'a', desc: 'a-a'}
]  %}

{% for item in items | sort(false, false, 'name') %}
    {{ item.name }}, {{ item.desc}}
{% endfor %}

{% set a = {
    
    "b_b": "b-b",
    "a_a": "a-a"
}
%}

{% for key, value in a | dictsort(false) %}
    {{ key }}, {{ value }}
{% endfor %}

<hr />

{% block content %}{% endblock %}

{{ child() }}

{{ child() }}
