<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimal-ui">


<script src="zeroclipboard/zeroclipboard.js"></script>
<script src="https://download.leancloud.cn/sdk/latest.js"></script>
<script type="text/javascript">
ZeroClipboard.setDefaults({
    moviePath: 'zeroclipboard/zeroclipboard.swf'
});
</script>
<title>LeanCloud 文档</title>
<link rel="stylesheet" type="text/css" href="app.css">