<nav class="dashboard-subnav navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse" id="app-options">
            <ul class="nav navbar-nav navbar-app-select">
                <li>
                  <a href="/applist.html" class="nav-logo font-logo">L<span class="visible-xs-inline">eanCloud</span></a>
                </li>
            </ul>

            <div class="navbar-app-actions-wrap">
                <ul class="nav navbar-nav navbar-app-actions" >
                  <li class="dropdown dropdown-toggle-app-name" >
                    <a href="index.html">
                      <i class="icon icon-dashbd-icon icon-blank-app"></i>
                      <div class="name">文档首页</div>
                    </a>
                  </li>


                  <li ng-class="{active:currentHtmlPage=='help.html'}">
                      <a class="nav-key-6 dropdown-toggle" title="帮助" data-toggle="dropdown">
                          <i class="icon icon-dashbd-icon icon-question"></i>
                          <i class="dashboard-subnav-text">帮助</i>
                      </a>
                      <ul class="dropdown-menu">
                          {% if layout!="board-nologin.swig" %}
                            <!-- <li><a href="start.html">快速入门</a></li> -->
                          {% endif %}
                          <li><a href="/docs">文档</a></li>
                          <li><a href="/docs/sdk_down.html">SDK 下载</a></li>
                          <li><a href="http://ticket.leancloud.cn/tickets">技术支持</a></li>
                          <li role="presentation" class="divider"></li>
                          <li><a href="/pricing.html">价格</a></li>
                          <li><a href="/apps.html">移动端 App</a></li>
                          <li><a href="http://forum.leancloud.cn">社区</a></li>
                          <li><a href="http://blog.leancloud.cn/">Blog</a></li>
                          <li role="presentation" class="divider"></li>
                          <li><a href="https://leancloud.cn/apionline/">在线 API 工具</a></li>
                          <li><a href="http://drop.avosapps.com/">iOS 测试包分发</a></li>
                          <!-- <li><a href="#" data-toggle="modal" data-target="#modal-shortcuts">快捷键</a></li> -->
                      </ul>
                  </li>

                </ul>
            </div>

            <ul class="nav navbar-nav navbar-user-actions navbar-right" ng-cloak>


                <li class="dropdown" ng-show="user.username">
                    <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
                        <span class="user-gravatar">
                            <img gravatar-src="user.email" gravatar-size="64">
                        </span>
                        <span class="user-name-text">{{user.username}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/settings.html">账号设置</a></li>
                        <li><a href="/applist.html">控制台</a></li>
                        <li><a href="/settings.html#/setting/team">团队管理</a></li>
                        <li><a href="/bill.html#/bill/general">财务</a></li>
                        <!-- <li><a href="settings.html#/setting/invite">邀请好友</a></li> -->
                        <li ng-show="user.username" style=""><a ng-click="signout()">登出</a></li>
                    </ul>
                </li>
                <li ng-hide="user.username">
                    <a href="/login.html#/signin">登录</a>
                </li>
                <li ng-hide="user.username">
                    <a href="/login.html#/signup">注册</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <!-- .container-fluid -->
</nav>

<header class="doc-subnav" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">

        <li><a href="start.html">快速入门</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="storage_overview.html">数据存储服务总览</a></li>
            <li><a href="push_guide.html">消息推送服务总览</a></li>
            <li><a href="realtime_v2.html">实时通信服务总览</a></li>
            <li><a href="dashboard_guide.html">控制台使用指南</a></li>
            <li><a href="data_security.html">数据安全</a></li>
            <li><a href="error_code.html">错误码详解</a></li>
            <li><a href="faq.html">常见问题</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">iOS / OS X</a>
          <ul class="dropdown-menu">
            <li><a href="leanstorage_guide-ios.html">数据存储开发指南</a></li>
            <li><a href="ios_push_guide.html">消息推送开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li><a href="realtime_guide-ios.html">实时通信开发指南</a></li>
            <li><a href="relation_guide-ios.html">关系建模指南</a></li>
            <li><a href="acl_guide-ios.html">权限管理使用指南</a></li>
            <li><a href="ios_statistics.html">统计分析开发指南</a></li>
            <li><a href="sms_guide-ios.html">短信服务使用指南</a></li>
            <li><a href="ios_crashreporting_guide.html">崩溃报告使用指南</a></li>
            <li><a href="ios_os_x_faq.html">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">iOS SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="leanstorage_guide-android.html">数据存储开发指南</a></li>
            <li><a href="android_push_guide.html">消息推送开发指南</a></li>
            <li><a href="realtime_guide-android.html">实时通信开发指南</a></li>
            <li><a href="relation_guide-android.html">关系建模指南</a></li>
            <li><a href="acl_guide-android.html">权限管理使用指南</a></li>
            <li><a href="android_statistics.html">统计分析开发指南</a></li>
            <li><a href="sms_guide-android.html">短信服务使用指南</a></li>
            <li><a href="android_faq.html">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">Android SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="js_guide.html">数据存储开发指南</a></li>
            <li><a href="js_push.html">消息推送开发指南</a></li>
            <li><a href="realtime_guide-js.html">实时通信开发指南</a></li>
            <li><a href="acl_guide-js.html">权限管理使用指南</a></li>
            <li><a href="sms_guide-js.html">短信服务使用指南</a></li>
            <li><a href="js_analytics.html">统计分析开发指南</a></li>
            <!-- <li><a href="js_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/javascript/index.html" target="_blank">JavaScript 数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">JavaScript 实时通信 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
            <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET / Unity3D</a>
          <ul class="dropdown-menu">
            <li><a href="dotnet_guide.html">.NET 数据存储开发指南</a></li>
            <li><a href="unity_guide.html">Unity3D 数据存储开发指南</a></li>
            <li><a href="dotnet_push_guide.html">WP8.0 消息推送开发指南</a></li>
            <li><a href="realtime_guide-dotnet.html">实时通信开发指南</a></li>
            <li><a href="unity_statistics.html">Unity3D 统计开发指南</a></li>
            <li><a href="dotnet_faq.html">FAQ</a></li>
            <li><a href="/api-docs/dotnet/Help/index.html" target="_blank">.NET SDK API</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="python_guide.html">数据存储开发指南</a></li>
            <!-- <li><a href="python_faq.html">FAQ</a></li> -->
            <li><a href="/api-docs/python/leancloud.html" target="_blank">Python SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="leanengine_guide-python.html">云引擎开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="/api-docs/php/" target="_blank">PHP SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="rest_api.html#Push_通知">消息推送 API</a></li>
            <li><a href="realtime_rest_api.html">实时通信 API</a></li>
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            <li><a href="rest_api.html#统计数据_API">数据统计 API</a></li>
            <li><a href="cql_guide.html">CQL 查询语言详解</a></li>
            <li><a href="oauth2_provider.html">开放平台接入</a></li>
            <!-- <li><a href="rest_faq.html">FAQ</a></li> -->
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
          <li><a href="leanengine_overview.html">云引擎总览</a></li>
          <li><a href="leanengine_plan.html">云引擎运行方案</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Node.js</li>
          <li><a href="leanengine_webhosting_guide-node.html">网站托管开发指南</a></li>
          <li><a href="leanengine_cloudfunction_guide-node.html">云函数开发指南</a></li>
          <li class="dropdown-header">Python</li>
          <li><a href="leanengine_guide-python.html">云引擎开发指南</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="leanengine_examples.html">云引擎项目示例</a></li>
          <li><a href="leanengine_cli.html">云引擎命令行工具</a></li>
          <li><a href="acl_guide_leanengine.html">在云引擎中管理 ACL</a></li>
          <li><a href="leanengine_faq.html">FAQ</a></li>
          <li><a href="leancache_guide.html">LeanCache 使用指南</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            <li><a href="status_system.html">应用内社交使用指南</a></li>
            <li><a href="app_search_guide.html">应用内搜索和 DeepLink 开发指南</a></li>
            <li><a href="app_data_share.html">应用之间数据共享（Class 绑定）</a></li>
            <li><a href="user_groups.html">用户群分析指南</a></li>
            <li><a href="leaninsight_guide.html">离线数据分析使用指南</a></li>
            <li><a href="sns.html">SNS 组件开发指南</a></li>
            <li><a href="feedback.html">用户反馈开发指南</a></li>
            <li class="divider"></li>
            <li><a href="sdk_down.html">SDK 下载</a></li>
           <li><a href="demo.html">Demo</a></li>
           <li><a href="http://leancloud.sexy" target="_blank">第三方库</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search.html" method="get">
        <div class="form-group">
          <input name="q" type="text" class="form-control" placeholder="搜索&hellip;">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
