<header class="navbar navbar-light" role="banner" id="top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand font-logo">
        LeanCloud
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li ><a href="/docs/index.html">文档首页</a> </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">iOS / OS X</a>
          <ul class="dropdown-menu">
            <li><a href="ios_os_x_guide.html">iOS / OS X 指南</a></li>
            <li><a href="ios_statistics.html">iOS 统计 SDK 开发指南</a></li>
            <li><a href="ios_push_cert.html">iOS 推送证书设置指南</a></li>
            <li><a href="api/iOS/index.html" target="_blank">iOS SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="android_guide.html">Android 开发指南</a></li>
            <li><a href="android_statistics.html">Android 统计 SDK 开发指南</a></li>
            <li><a href="api/android/doc/index.html" target="_blank">Android SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="js_guide.html">JavaScript 指南</a></li>
            <li><a href="api/javascript/index.html" target="_blank">JavaScript SDK API</a></li>
            <li><a href="cloud_code_guide.html">云代码指南</a></li>
          </ul>
        </li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">SDK API</a>
          <ul class="dropdown-menu">
            <li><a href="api/iOS/index.html" target="_blank">iOS SDK API</a></li>
            <li><a href="api/android/doc/index.html" target="_blank">Android SDK API</a></li>
            <li><a href="api/javascript/index.html" target="_blank">JavaScript SDK API</a></li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            <li><a href="/start.html">快速入门</a></li>
            <li><a href="sdk_down.html">SDK 下载</a></li>
            <li><a href="demo.html">Demo</a></li>
            <li class="divider"></li>
            <li><a href="rest_api.html">REST API 详解</a></li>
            <li><a href="cloud_code_guide.html">云代码指南</a></li>
            <li><a href="sns.html">SNS 组件开发指南</a></li>
            <li><a href="status_system.html">事件流系统</a></li>
            <li><a href="push_guide.html">消息推送开发指南</a></li>
            <li><a href="realtime.html">实时通信开发指南</a></li>
            <li><a href="feedback.html">用户反馈组件开发指南</a></li>
            <li><a href="data_security.html">数据和安全</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search.html" method="get">
        <div class="form-group">
          <input name="q" type="text" class="form-control" placeholder="搜索&hellip;">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
