<!-- footer start -->
<div class="tc-footer">
    <div class="tc-footer-columns">
        <div class="columns">
            <h3>
                常见问题
            </h3>
            <ul>
                <li>
                    <a hotrep="hp.footer.FAQ.xinshou" href="http://bbs.qcloud.com/forum.php?mod=viewthread&tid=2387&extra=page=1 新手专区" target="_blank">
                        新手专区
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.FAQ.zhiyin" href="http://www.qcloud.com/doc/product" target="_blank">
                        使用指引
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.FAQ.beian" href="http://www.qcloud.com/doc/product/243/备案概述" target="_blank">
                        备案帮助
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.FAQ.xieyi" href="http://www.qcloud.com/doc/product/301/腾讯云服务协议" target="_blank">
                        服务协议
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns">
            <h3>
                热门活动
            </h3>
            <ul>
                <li>
                    <a hotrep="hp.footer.activity.shiyong" href="http://www.qcloud.com/event/try" target="_blank">
                        免费试用
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.activity.qianggou" href="http://act.qcloud.com/" target="_blank">
                        限时抢购
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.activity.gongyi" href="http://www.qcloud.com/event/public_benefit.html" target="_blank">
                        助力公益
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns">
            <h3>
                诚意合作
            </h3>
            <ul>
                <li>
                    <a hotrep="hp.footer.cooperation.daili" href="http://www.qcloud.com/agent/agent.html" target="_blank">
                        代理招商
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.cooperation.shangwu" href="http://bbs.qcloud.com/forum.php?mod=viewthread&tid=223" target="_blank">
                        商务合作
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.cooperation.cps" href="http://manage.qcloud.com/spread/" target="_blank">
                        CPS推广
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.cooperation.zhongchuang" href="http://www.qcloud.com/event/qcloudplan/index.php" target="_blank">
                        云+创业计划
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.cooperation.kaifashang" href="http://bbs.qcloud.com/forum.php?mod=viewthread&tid=236" target="_blank">
                        开发商服务合作
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns">
            <h3>
                客户服务
            </h3>
            <ul>
                <li>
                    <a hotrep="hp.footer.service.jichu" href="http://www.qcloud.com/service.html" target="_blank">
                        基础服务
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.service.zhizun" href="http://www.qcloud.com/service_ext.html" target="_blank">
                        至尊服务
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.service.fankui" href="http://exp.qq.com/ur/?urid=25854" target="_blank">
                        满意度调研
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.service.xuke" href="http://www.qcloud.com/doc/product/301/增值电信业务经营许可证" target="_blank">
                        许可证说明
                    </a>
                </li>
                <li>
                    <a hotrep="hp.footer.service.contact" href="http://www.qcloud.com/doc/product/282/联系我们" target="_blank">
                        联系我们
                    </a>
                </li>
                <li id="h_cs_list">
                </li>
            </ul>
        </div>
        <div class="columns column-follow">
            <h3>
                关注我们
            </h3>
            <ul>
                <li>
                    <img class="qr-img" src="//imgcache.qq.com/open_proj/proj_qcloud_v2/gateway/portal/css/img/home/tc-footer-qr.png">
                    </img>
                </li>
                <li>
                    微博：
                    <a class="footer-icon icon-1" href="http://weibo.com/qcloud2014" target="_blank">
                    </a>
                    <a class="footer-icon icon-2" href="http://e.t.qq.com/Tencent_Cloud" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
        <div class="columns column-certification">
            <h3>
                认证信息
            </h3>
            <div class="certification">
                <div class="ct-img">
                    <img src="//imgcache.qq.com/open_proj/proj_qcloud_v2/gateway/portal/css/img/home/footer-1.png">
                    </img>
                </div>
                <div class="information">
                    <ul>
                        <li>
                            <a class="link" href="http://www.kexinyun.org/" target="_blank">
                                可信云认证
                            </a>
                        </li>
                        <li>
                            <span class="text">
                                云主机
                            </span>
                            NO.01018
                        </li>
                        <li>
                            <span class="text">
                                云缓存
                            </span>
                            NO.06001
                        </li>
                        <li>
                            <span class="text">
                                云数据库
                            </span>
                            NO.03004
                        </li>
                    </ul>
                </div>
            </div>
            <div class="certification">
                <div class="ct-img">
                    <img src="//imgcache.qq.com/open_proj/proj_qcloud_v2/qcloud_2015/css/img/global/tc-footer-ct-2.png">
                    </img>
                </div>
                <div class="information">
                    <ul>
                        <li>
                            <a class="link" href="//www.qcloud.com/doc/product/363/ISO27001%E8%AE%A4%E8%AF%81" target="_blank">
                                ISO27001认证
                            </a>
                        </li>
                        <li>
                            <a class="link" href="//www.qcloud.com/doc/product/363/ISO20000%E8%AE%A4%E8%AF%81" target="_blank">
                                ISO20000认证
                            </a>
                        </li>
                        <li>
                            <a class="link" href="//www.qcloud.com/doc/product/363/ISO9001%E8%AE%A4%E8%AF%81" target="_blank">
                                ISO9001认证
                            </a>
                        </li>
                        <li>
                            <a class="link" href="//www.qcloud.com/doc/product/363/ISO22301%E8%AE%A4%E8%AF%81" target="_blank">
                                ISO22301认证
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright start -->
    <div class="tc-footer-copyright">
        <div class="department">
            <a class="icon-tc" href="http://www.tencent.com/" target="_blank">
                <span class="visually-hidden">
                    tencent
                </span>
            </a>
            <a hotrep="hp.footer.link.open" href="http://open.qq.com/" target="_blank">
                腾讯开放平台
            </a>
            ·
            <a hotrep="hp.footer.link.iot" href="http://iot.qq.com/" target="_blank">
                QQ物联
            </a>
            ·
            <a hotrep="hp.footer.link.dnspod" href="http://www.dnspod.cn/" target="_blank">
                DNSPod
            </a>
            ·
            <a hotrep="hp.footer.link.weixin" href="http://mp.weixin.qq.com/" target="_blank">
                微信公众平台
            </a>
            ·
            <a hotrep="hp.footer.link.bqq" href="http://b.qq.com/?utm_source=youlian&utm_medium=qcloud&utm_campaign=youlian" target="_blank">
                企业QQ
            </a>
            ·
            <a hotrep="hp.footer.link.youtu" href="http://open.youtu.qq.com/" target="_blank">
                腾讯优图
            </a>
            ·
            <a hotrep="hp.footer.link.lanjing" href="http://bk.tencent.com/home/" target="_blank">
                腾讯蓝鲸
            </a>
            ·
            <a hotrep="hp.footer.link.qqmusic" href="http://y.qq.com/" target="_blank">
                QQ音乐
            </a>
            ·
            <a hotrep="hp.footer.link.weiyun" href="http://www.weiyun.com/" target="_blank">
                腾讯微云
            </a>
            ·
            <a hotrep="hp.footer.link.zqxone" href="http://z.qzone.com/" target="_blank">
                手机QQ空间
            </a>
            ·
            <a hotrep="hp.footer.link.friendlink" href="//www.qcloud.com/friendlink/index.html" target="_blank">
                友情链接
            </a>
        </div>
        <div class="links">
            <p class="line-1" style="display:none;">
                <a class="link" href="http://www.tencent.com/zh-cn/index.shtml" target="_blank">
                    关于腾讯
                </a>
                |
                <a class="link" href="http://www.qq.com/privacy.htm" target="_blank">
                    隐私政策
                </a>
                |
                <a class="link" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800033878&=1&ty=1&ap=000018{$SP|146|295$}&as=2&v=2" target="_blank">
                    投诉举报
                </a>
                |
                <a class="link" href="http://www.tencent.com/en-us/index.shtml" target="_blank">
                    About Tencent
                </a>
            </p>
            <p class="line-2">
                <span class="slide">
                    Copyright ©2013-2016
                </span>
                <span class="slide">
                    Qcloud.com. All Rights Reserved. 腾讯云 版权所有
                </span>
            </p>
            <p class="last">
                <a href="http://www.qcloud.com/wiki/%E5%A2%9E%E5%80%BC%E7%94%B5%E4%BF%A1%E4%B8%9A%E5%8A%A1%E7%BB%8F%E8%90%A5%E8%AE%B8%E5%8F%AF%E8%AF%81" target="_blank">
                    增值电信业务营业许可证：B1.B2-20130326
                </a>
                <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020287" target="_blank">
                    <img class="icon" src="//mccdn.qcloud.com/static/img/d0289dc0a46fc5b15b3363ffa78cf6c7/image.png" style="display: inline-block;width: 20px;height: 20px;vertical-align: middle;margin-right: 5px;">
                        京公网安备 11010802017518
                    </img>
                </a>
                <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">
                    京ICP备11018762号
                </a>
                <span class="slide">
                    京ICP证150476号
                </span>
            </p>
        </div>
    </div>
    <!-- copyright end -->
</div>
<!-- footer end -->
<script>
    window.jQuery || document.write('<script src="//imgcache.qq.com/open/qcloud/js/version/201408/jquery.201408191328.js?t=20140821"><\/script>');
</script>
<script src="//imgcache.qq.com/open/qcloud/common/qcloud_stat.js?t=20150812">
</script>

<script src="//imgcache.qq.com/open/qcloud/js/version/201405/qcloud.report.201405271155.js?v=20141210">
</script>
<script>
    $(window).load(function () {
    var img = new Image();
    img.onload = function() {
      img.onload = img.onerror = img.onabort = null;
      img = null;
      //成功处理
      window.TCISD && window.TCISD.hotClick.send("loadstatic.success");
    };
    img.onerror = img.onabort = function () {
      img.onload = img.onerror = img.onabort = null;
      img = null;
      //不成功处理
      window.TCISD && window.TCISD.hotClick.send("loadstatic.fail");
    };
    img.src = 'https://imgcache.qq.com/open_proj/proj_qcloud_v2/qcloud_2015/css/img/global/test.png?' + new Date().getTime();
  });

  $.getScript('//imgcache.qq.com/open/qcloud/common/notice.js?t=' + new Date().getTime());
</script>
<script>
    (function(i,s,o,g,r,a,m){
  i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)
  },i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//imgcache.qq.com/open/qcloud/common/analytics.js?max_age=31536000','ga');
  ga('create', 'UA-67744695-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
    /* <![CDATA[ */
// 腾讯云网页转化跟踪代码
if (location.pathname === '/developerCenter/registComplete.php') {
  var google_conversion_id = 940175154;
  var google_conversion_language = 'en';
  var google_conversion_format = '3';
  var google_conversion_color = 'ffffff';
  var google_conversion_label = 'BixwCJzq1mIQst6nwAM';
  var google_remarketing_only = false;

// 腾讯云网页再营销代码
} else {
  var google_conversion_id = 940175154;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
}
/* ]]> */
</script>
<script src="//mccdn.qcloud.com/google_conversion.7581a5500acea738477e28f4efd303fe.js">
</script>
<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'a268202b003f2516']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>